.app {
    font-family: 'Lato', sans-serif;
}

header {
    padding: 61px 0 52px;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.logo {
    font-size: 80px;
    margin-bottom: 61px;
}

.logo a {
    color: black;
    text-decoration: none;
}

.logo span {
    color: #4bcaff;
}

.menu {
    display: flex;
    justify-content: center;
    background-color: #35444f;
}

.menu-list {
    display: inline-block;
    font-size: 24px; 
}

.menu-item {
    display: inline-block;
    padding: 26px 42px;
    transition: background 0.3s;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
}

.menu-item a {
    color: white;
    text-decoration: none;
}
.menu-item:hover {
    background: #222f3a;
    border-right: 1px solid #818181;
    border-left: 1px solid #818181;
}

.menu-section {
    width: 342px;
    border: 1px solid #35444f;
    float: left;
}

.menu-section a{
    color: #495863;
    text-decoration: none;
}
.menu-section-item{
    padding: 29px 0 29px 44px;
    font-size: 27px;
    transition: 0.3s;
}

.menu-section-item:hover {
    background: #dbdbdb;
    padding-left: 71px;
    font-size: 30px;
}
.menu-section-item a:hover {
    color: black;
}
.section-info {
    width: 885px;
    float: right;
    padding-bottom: 52px;
}

.info-img {
    height: 530px;
    border: 1px solid black;
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-bottom: 52px;
}

.info-img img {
    display: inline-block;
}

.info-text {
    width: 823px;
    margin: 0 auto;
    font-size: 18px;
    color: #2c2c2c;
    line-height: 24px;
}

.info-text p:not(:last-child) {
    margin-bottom: 32px;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}
footer {
    padding: 32px;
}
.footer-container {
    background: #b4b7ba;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 35px;
    box-sizing: border-box;
}

.footer-menu-item {
    display: inline-block;
    font-size: 28px;
    padding: 24px 14px;
}

.footer-menu-item a{
    text-decoration: none;
    color: #0c1927;
}
.footer-menu-item a:hover {
    color: #3e85a7;
    text-decoration: underline;
    transition: 0.3s;
}

.copyright {
    font-size: 28px;
    color: #0c1927;
}
